<footer>
    <br />
    <br />
    <p>
       PALAWAN STATE UNIVERSITY <br>
       COLLEGE OF SCIENCES
    </p>
    <br>
    <div class="social-icons">
        <a href="https://github.com/nikii00" target="_blank" class="icon-link"><i class="fab fa-github"></i>
        </a>
        <a href="https://www.facebook.com/nktlgnbl?mibextid=JRoKGi" target="_blank" class="icon-link"><i class="fab fa-facebook"></i>
        </a>
        <a href="https://instagram.com/nktlgnbl?igshid=NGVhN2U2NjQ0Yg==" target="_blank" class="icon-link"><i class="fab fa-instagram"></i>
        </a>
    </div>
    <p>
        &copy; 2023 All Rights Reserved
    </p>