{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'assignment-add' %}" class="custom-btn btn btn-primary">Add New Assignment</a><br>
<section class="trainers-container">
    <table class="styled-table">
      <tbody>
        <tr>
          <th>Assignment Name</th>
          <th>Deadline</th>
          <th>Course</th>
          <th>Action</th>
        </tr>
        {% for assignment in object_list %}
        <tr>
          <td>{{ assignment.AssignmentName }}</td>
          <td>{{ assignment.Deadline }}</td>
          <td>{{ assignment.CourseID.CourseName }}</td>
          <td>
            <a href="{% url 'assignment-update' assignment.AssignmentID %}">Edit</a> |
            <a href="{% url 'assignment-delete' assignment.AssignmentID %}">Delete</a>
          </td>
        </tr>
        {% empty %}
                <tr>
                <td colspan="4" style="text-align: center;">
                    <p>No Records Found</p>
                </td>
                </tr>
        {% endfor %}
      </tbody>
    </table>
</section>
<div>
    {% include 'includes/pagination.html' %}
</div> 
{% endblock %}
