{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'enrollment-add' %}" class="custom-btn btn btn-primary">Add New Enrollment</a><br>
<section class="trainers-container">
    <table class="styled-table">
      <tbody>
        <tr>
          <th>Student</th>
          <th>Course</th>
          <th>Action</th>
        </tr>
        {% for enrollment in object_list %}
        <tr>
          <td>{{ enrollment.StudentID.FirstName }} {{ enrollment.StudentID.LastName }}</td>
          <td>{{ enrollment.CourseID.CourseName }}</td>
          <td>
            <a href="{% url 'enrollment-update' enrollment.id %}">Edit</a> |
            <a href="{% url 'enrollment-delete' enrollment.id %}">Delete</a>
          </td>
        </tr>
        {% empty %}
                <tr>
                <td colspan="3" style="text-align: center;">
                    <p>No Records Found</p>
                </td>
                </tr>
        {% endfor %}
      </tbody>
    </table>
</section>
<div>
    {% include 'includes/pagination.html' %}
</div> 
{% endblock %}
