{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'grade-add' %}" class="custom-btn btn btn-primary">Add New Grade</a><br>
<section class="trainers-container">
    <table class="styled-table">
      <tbody>
        <tr>
          <th>Student</th>
          <th>Assignment</th>
          <th>Score</th>
          <th>Action</th>
        </tr>
        {% for grade in object_list %}
        <tr>
          <td>{{ grade.StudentID.FirstName }} {{ grade.StudentID.LastName }}</td>
          <td>{{ grade.AssignmentID.AssignmentName }}</td>
          <td>{{ grade.Score }}</td>
          <td>
            <a href="{% url 'grade-update' grade.GradeID %}">Edit</a> |
            <a href="{% url 'grade-delete' grade.GradeID %}">Delete</a>
          </td>
        </tr>
        {% empty %}
                <tr>
                <td colspan="4" style="text-align: center;">
                    <p>No Records Found</p>
                </td>
                </tr>
        {% endfor %}
      </tbody>
    </table>
</section>
<div>
    {% include 'includes/pagination.html' %}
</div> 
{% endblock %}
