{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'professor-add' %}" class="custom-btn btn btn-primary">Add New Professor</a><br>
<section class="cards-container">
  <!-- Display Professor Cards -->
  {% for professor in object_list %}
    <div class="card-box">
        <div class="card">
            <div class="card-type" id="professor">
                <div class="card-image" id="professor-img">
                    <!-- Check if the professor has a profile image -->
                    {% if professor.ProfileImage %}
                        <img src="{{ professor.ProfileImage.url }}" alt="{{ professor.LastName }} {{ professor.FirstName }} Image">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                </div>
                <div class="card-name">
                    <h2 class="sbs"> {{ professor.LastName }} {{ professor.FirstName }}</h2>
                    <hr />
                </div>
                <table class="card-stats">
            <tbody>
              <tr>
                <th>Email:</th>
                <td>{{ professor.Email }}</td>
              </tr>
              <tr>
                <th>Department:</th>
                <td>{{ professor.Department }}</td>
              </tr>
              <!-- Add more professor fields as needed -->
              <tr>
                <th>Action:</th>
                <td>
                  <a href="{% url 'professor-update' professor.ProfessorID %}" >Edit</a> |
                  <a href="{% url 'professor-delete' professor.ProfessorID %}" >Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr />
      </div>
    </div>
  {% endfor %}
  <div>
    {% include 'includes/pagination.html' %}
  </div>
</section>

{% endblock %}
