{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'student-add' %}" class="custom-btn btn btn-primary">Add New Student</a><br>
<section class="trainers-container">
    <table class="styled-table">
      <tbody>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        {% for student in object_list %}
        <tr>
          <td>{{ student.FirstName }}</td>
          <td>{{ student.LastName }}</td>
          <td>{{ student.Email }}</td>
          <td>
            <a href="{% url 'student-update' student.StudentID %}">Edit</a> |
            <a href="{% url 'student-delete' student.StudentID %}">Delete</a>
          </td>
        </tr>
        {% empty %}
                <tr>
                <td colspan="4" style="text-align: center;">
                    <p>No Records Found</p>
                </td>
                </tr>
        {% endfor %}
      </tbody>
    </table>
</section>
<div>
    {% include 'includes/pagination.html' %}
</div> 
{% endblock %}
